<html>
    <head>
        <title>Bar Form</title>
    </head>
    <body>
        <form method="post" action="/bar">
            <input type="text" name="name" />
            <input type="text" name="age" />
        </form>
    </body>
</html>