<html>
    <head>
        <title>Form Submit</title>
    </head>
    <body>
        {{if .}}
        <main>
            <p><strong>variable names</strong></p>
            {{range $key, $val := .}}
                <p><strong>{{$key}}</strong></p>
                <ul>
                    {{range $val}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            {{end}}
        </main>
        {{end}}
    
        <form action="/" method="POST">
            <input type="text" name="fname" />
            <input type="submit" name="submit" value="Submit" />
        </form>
    </body>
</html>
