<html>
    <head>
        <title>Photo Blog Home</title>
    </head>
    <body>
        <form method="POST" action="/" enctype="multipart/form-data">
            <input type="file" name="nf" />
            <input type="submit" />
        </form>

        <h2>Images</h2>
        {{range .}}
            <img src="/public/images/{{.}}" width="200px"/>
        {{end}}
    </body>
</html>